<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title= title
		style
			include ../dist/assets/css/index-page.css
	body.index-page

		.index
			
			h1.index__title= title
			ul.index__list
				each block in index
					li
						if block.number
							i #{block.number}
						if block.href
							a(href="#{block.href}") #{block.title}
						else
							span #{block.title}
			
			each block in side
				.index__side
					.index__desc
						p #{block.desctiption}

					if block.links
						ul.index__links
							each link in block.links
								if link.github
									li
										a(href="#{link.github}") GitHub Page
								if link.download
									li
										a(href="#{link.download}") Download
